<div class="d-flex justify-content-center align-items-center h-100" style="align-items: center;">
<div class="card glow" style="width: 100%">
    <div class="card-header">
        <h3>Settings / Setup</h3>
    </div>
    <div class="card-body card-overflow">
        <div class="overflow-scroll">
            <f:form action="add" name="setting" object="{storage}" arguments="{storage: storage}" enctype="multipart/form-data">

                <f:form.hidden property="user" value="{userUid}" />

                <div class="mb-3">
                    <label for="name" class="form-label">Enter Name</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon3">/lux-arcadia.de/linktree/</span>
                        <f:form.textfield property="name" id="name" class="form-control" value="{storage.name}" />
                    </div>
                </div>

                <div class="mt-2">
                    <label for="description" class="form-label">Enter Description off your Profile</label>
                    <f:form.textarea property="description" id="description" class="form-control" rows="3" value="{storage.description}" />
                </div>

                <div class="mt-2">
                    <label class="form-label" for="profileImage">Upload Image</label>
                    <input type="file" name="file" id="profileImage" class="form-control" value="" />
                </div>

                <div class="mt-2">
                    <f:form.submit class="btn btn-primary" value="Send" />
                </div>

            </f:form>
        </div>
    </div>
</div>
</div>
